#navBorder{
  border: thin solid black;
}

#centerText{
  margin: auto;
}

#titleFont{
  font-size: 18px;
  margin: auto;

}

#recipeTitle{
  text-align: center;
  margin: auto; 
  background-color: lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  font-size: xx-large;
  font-weight: bold;
}

#rsubHeader{
  margin: auto; 
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:large;
}

#imgGlass{
  height: 435px; 
  width: 435px; 
  margin-top: 10px;
}

#stepHeader{
  margin: auto; 
  background-color: lightgray;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:large;
}

