#navBorder{
  border: thin solid black;
}

#centerText{
  margin: auto;
}

#titleFont{
  font-size: 18px;
  margin: auto;

}

#recipeTitle{
  text-align: center;
  margin: auto; 
  background-color: lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  font-size: xx-large;
  font-weight: bold;
}

#rsubHeader{
  margin: auto; 
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:large;
}

#imgGlass{
  height: 435px; 
  width: 435px; 
  margin-top: 10px;
}

#imgGlassL{
  height: 100px; 
  width: 100px; 
}

#stepHeader{
  margin: auto; 
  background-color: lightgray;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:large;
}

.img_format{
  height: 200px;
}

.tool-media-left{
  text-align: right;
  align-items: right;
  padding-right: 30px;
}

.tool-media-right{
  text-align: left;
  align-items: left;
  padding-left: 30px;

}

.tool-description{
  background-color: #fad578;
  margin-top: 20px;
  font-size: large;
}

#tool-title{
  text-align: center;
  margin: auto; 
  background-color: lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: bold;
}

#previous-btn{
  color: white;
}

#next-btn{
  color: white;
}

#tool-header{
  background-color: rgb(160, 160, 160);
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.homepage-row{
  padding-top: 20px;
}

#homepage-title{
  text-align: center;
  margin: auto; 
  background-color: lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: bold;
}

.intro-description{
  padding-top: 20px;
  font-size: large;
}

.intro{
  background-color: #fad578;
}

#start-btn{
  color: white;
  font-size: large;
}

.linkColor{
  color: black;
}

body{
  background-color: rgb(241, 232, 221);
}

.drop_a{
  background-color: lightskyblue;
  margin-right: 10px; 
  text-align: center;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  
}
.img_format_answer{
  height: 100px;
  width: 100px;
  border: 1px solid green;
  margin-right: 20px;
  margin-top: 10px;
}

.ui-state-hover{
  background-color: rgb(1, 1, 29);
}