<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

  </head>
  <body>
  <!--
<div class="container">
    <div class="row">
        <div id="titleFont"href="/">Bartending Basics</div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light" id="navBorder">
            <div class="col-md-3 text-center">
              <a class="navbar-brand" href="/">HOME</a>
            </div>
            <div class="col-md-3 text-center">
              <a class="navbar-brand" href="/lesson/tools/">TOOLS</a>
            </div>
            <div class="col-md-3 text-center">
              <a class="navbar-brand" href="/lesson/recipes">RECIPES</a>
            </div>
            <div class="col-md-3 text-center">
              <a class="navbar-brand" href="/quizpage">TEST</a>
            </div>
          </nav>
</div>-->

  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container"><a href="/" class="navbar-brand text-uppercase font-weight-bold">BARTENDING BASICS</a> 
           
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link text-uppercase font-weight-bold">HOME </a></li>
                    <li class="nav-item"><a href="/lesson/tools/" class="nav-link text-uppercase font-weight-bold">TOOLS</a></li>
                    <li class="nav-item"><a href="/lesson/recipes" class="nav-link text-uppercase font-weight-bold">RECIPES</a></li>
                    <li class="nav-item"><a href="/quizpage" class="nav-link text-uppercase font-weight-bold">QUIZ</a></li>
                </ul>
            
        </div>
    </nav>
  </header>
</div>

    <div class="container">   
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>




