{% extends "layout.html" %}

{% block content %}
<script src="/static/quiz.js"></script> 

<script> 
    let quiz_id = {{quiz_id|tojson}}
    let quiz = {{quiz|tojson}}
</script>

<div class="container">
    <div class="row">
        <button id="start-btn" type="submit"></button>
    </div>
    <h3>Problem:</h3>
    {{quiz.id}}
    <div class="row">
        <div class="col-md-4">
            <h2><b>{{quiz.question}}</b></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img_format" src={{quiz.image}}>
        </div>
    </div>
        <h6><b>Options</b></h6>
        {% for tags in quiz.options%}
        <li class="tagButton">{{options}}</li>
        {% endfor %}
    </div>
    <div>
</div>
{% endblock %}