{% extends "layout.html" %} {% block content %}

<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{question.progress[0]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{question.progress[0]}}%"></div>
      </div>
      <div id = "question_title"> Question {{question.quiz_id}}</div>

      <div class="row">
        <div class="col-md-12 text-center">
            <div id = "question_text">{{ question.question }} </div>
        </div>
        
        <div class="row center">
          <div class="col-md-12 center">
              <img class="img_format" src={{question.image}}>
          </div>
      </div>
      
        <div class="row col-md-12 ">
            {% for each in question.options %}
            <div class="col-md-6 questionOptions">
              <button type="button" class="center btn btn-outline-dark">
                <div class="text-center options">{{each[0]}}</div>
                <img src="{{each[1]}}">
              </button>
            </div>
            {% endfor %}
        </div>

      </div>
      <div class="row" id="feedback"></div>
      
      <div class="row">
          <div class = "col-md-11"></div>
        <div class="col-md-1" id = "checkBtnDiv">
          <button type="button" class="btn btn-primary btn-dark" id="checkBtn" disabled>
            Submit
          </button>
        </div>
        <div class = "col-md-12" id = "change_question"></div>
    </div>

</div>
</div>


<script>

let question = {{question|tojson}};
let optionCorrect = false;
let wrongAnswer=0;


function chooseAnswer(element){
    $("#checkBtn").prop("disabled", false);
    if ($(element).find(".options").html() == question["answer"]) {
        optionCorrect = true;
        
        //console.log("58", optionCorrect)
        //saveAnswer(optionCorrect);
    } else {
        optionCorrect = false;
        
        //console.log("61", optionCorrect)
        //saveAnswer(optionCorrect);
    }
}

function checkAnswer() {
    $("#feedback").empty();
    if (optionCorrect == true) {
        $("#feedback").text("Correct!")
        $('.progress-bar').css('width', question.progress[1]+'%').attr('aria-valuenow', question.progress[1]);
        
        if (parseInt({{question.quiz_id}}) + 1 >=4){
            $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> Enter Next Quiz </div>");
          }  else {
            $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> Next </div>")
          }  

        // $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> Next </div>")
        $("#checkBtnDiv").html("")
        return 
        console.log("73", optionCorrect) 
        //console.log("74", score)
        //score +=33
  }
  wrongAnswer += 1;

  $.ajax({
      type: "POST",
      url: "/wrong_ans",
      dataType : "json",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify(wrongAnswer),
      success: function (response) {
          $("#feedback").text("Wrong! " + question.answer + " is the correct answer.");
          $('.progress-bar').css('width', question.progress[1]+'%').attr(question.progress[1]);  
          
          if (parseInt({{question.quiz_id}}) + 1 >=4){
            $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> Enter Next Quiz </div>");
          }  else {
            $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> Next </div>")
          }  

          // $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> Next </div>")
          $("#checkBtnDiv").html("")
          //console.log("89", score)
          console.log("90", wrongAnswer)
          
        },
      error: function(request, status, error){
        console.log(request)
        console.log(status)
        console.log(error)
      }
  });

  wrongs = "{{question.topic}}"
  $.ajax({
        type: "POST",
        url: "/wrong_topics",
        dataType : "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(wrongs),
        success: function (response) {
          },
        error: function(request, status, error){
          console.log(request)
          console.log(status)
          console.log(error)
      }
    })
}

function saveAnswer(optionCorrect) {
    let userData = {"optionCorrect": optionCorrect}
    $.ajax({
      type: "POST",
      url: "/save_data",
      dataType : "json",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify(userData),
      success: function (response) {
          let score=response["score"]
        },
      error: function(request, status, error){
        console.log(request)
        console.log(status)
        console.log(error)
      }
    })
}


$(document).ready(function () {
  $(".questionOptions").each(function (index, element) {
      $(element).click(function(){
        chooseAnswer($(element))
        console.log(optionCorrect)
      });
  });
  $("#checkBtn").click(checkAnswer);
  console.log("check btn click");
  console.log(question.quiz_id);
  
});
$(document).on('click','#next-btn', function(){
  quiz_id = parseInt({{question.quiz_id}});
  quiz_id += 1;
  console.log("click")
  if(quiz_id < 4){
    window.location.href = "/quiz1/" + quiz_id;
  }
  else
  {
    window.location.href = "/quiz2/1";  
  } 
});

</script>



{% endblock %}
