{% extends "layout.html" %}

{% block content %}
<script src="/static/quiz.js"></script> 

<script> 
    let quiz_id = {{quiz_id|tojson}}
    let data = {{data|tojson}}
    let quiz_answers = {{quiz_answers|tojson}}
    let quiz_answer_id = {{quiz_answer_id|tojson}}
    let data_answers = {{data_answers|tojson}}

    $(document).ready(function(){
        $("#previous-btn").click(function(){
            id = parseInt({{quiz_id.id}});
            id -= 1;
            if(id > 0){
                id = id - 1
                window.location.href = "/quiz/" + id;
                console.log(id)
            }
            else
            {
                window.location.href = "/quiz/0"
            }
        });
        $("#next-btn").click(function(){
            id = parseInt({{quiz_id.id}});
            if(id < 5){
                window.location.href = "/quiz/" + id;
            }
            else
            {
                window.location.href = "/";
            }
            id += 1;
        });
    });
</script>

<div class="container">
    <div class="row">
        <button id="start-btn" type="submit"></button>
    </div>
    <div id="displayResultItems"></div>
    <h4>Question: {{quiz_id.id}}</h4>
    <h4></h4>
    <div class="row">
        <div class="col-md-4">
            <h2><b>{{quiz_id.question}}</b></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img_format" src={{quiz_id.image}}>
        </div>
    </div>
 <!--   <h6><b>Options</b></h6>
        {% for tags in quiz_id.options%}
        <li id="tagButton">{{tags}}</li>
        {% endfor %}

        {% for t in quiz_id %}
            {% if t == "3"%}
                {% for t in quiz_id.options %}
                <div class = "row" id = "stepHeader"> 
                <div> {{quiz_id[t].options}} </div>
                <div> <img id = "imgGlassL" src = "{{quiz_id[t].options}}"></div>
            </a>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %} 
    </div>
    <div>
-->    <div id="answerChoices"></div>
<form class="q">
    <input name="test" type="radio" value="inc" /> A) 1
    <input name="test" type="radio" value="ans"/> B) 2
    <input name="test" type="radio" value="inc" /> C) 3
    <input name="test" type="radio" value="inc" /> D) 4
  </form>
<div class="exp answer-text" style="display:none"> correct! </div>
<div class="red answer-text" style="display:none"> d is the correct answer</div> 
    <div>
        <div class = "btn btn-dark" id = "previous-btn"> Previous </div>
        <div class = "btn btn-dark" id = "next-btn"> Next </div>
    </div>
</div>
{% endblock %}