{% extends "layout.html" %} {% block content %}

<script>
  let quizzes = {{quizzes|tojson}};
  
  $(document).ready(function () {
    console.log(quizzes);
    $("#tools").click(function() {
      let wrong_ans = 0;
      console.log("kjhjhkjh")
      $.ajax({
        type: "POST",
        url: "/reset_score",
        dataType : "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(wrong_ans),
        success: function (response) {
          window.location.href = "/quiz1/1";
          },
        error: function(request, status, error){
          console.log(request)
          console.log(status)
          console.log(error)
      }
    })
    });
  })
  
</script>

<div class="container">
  <div class = "text-center page-title"> 
    <h1> Test your Knowledge </h1>
    <hr>

  </div>

  <div class="row">
    <div class="col-md-6">
      <img class= "img_format2 center" src="{{quizzes[0][1]}}">
    </div>
    <div class="col-md-6">
      <img class="img_format2 center" src="{{quizzes[1][1]}}">
    </div> 
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr> 
      <button type="button" class="btn btn-lg btn-primary btn-dark center" id="tools">
        Start
      </button>
    </div>
</div>
</div>

{% endblock %}
