{% extends "layout.html" %} {% block content %}
<script>

    let question = {{question|tojson}};
    var optionCorrect = true;
    let wrongAnswer=0;
    
    var answers = new Array();
    
    function checkAnswer() {
      if(answers.length <= 0){
        $("#feedback").empty();
        $("#feedback").append("No answers submitted!");
        return
      }
      else if(answers.length < 4){
        $("#feedback").empty();
        $("#feedback").append("Not enough answers submitted!");
        return
      }

      $("#feedback").empty();
      $("#checkBtn").prop("disabled", false);

      answers.forEach((element, index) =>{

        if(answers[index] != (question.answers)[index]){
          optionCorrect = false;
        }
      });

      console.log(optionCorrect);
      if (optionCorrect == true) {
          $("#feedback").text("Correct!")
          $('.progress-bar').css('width', question.progress[1]+'%').attr('aria-valuenow', question.progress[1]);  
          if (parseInt({{question.quiz_id}}) + 1>=4){
            $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> See Results </div>");
          }  else {
            $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> Next </div>")
          }  
          // $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> Next </div>")
          $("#checkBtnDiv").html("")
          return
      } else {
          wrongAnswer += 1;
      }

      $.ajax({
        type: "POST",
        url: "/wrong_ans",
        dataType : "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(wrongAnswer),
        success: function (response) {
          $("#feedback").append("Wrong! ");
          (question.feedback).forEach((element, index) =>{
            
            $("#feedback").append(element);
            
            if(index != question.feedback.length- 1){
              $("#feedback").append(", ");
            }
            if (index == question.feedback.length - 2)
            {
              $("#feedback").append("and ")
            }
          });

          $("#feedback").append(" is the correct answer.");
            $('.progress-bar').css('width', question.progress[1]+'%').attr(question.progress[1]); 
            if (parseInt({{question.quiz_id}}) + 1 >=4){
              $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> See Results </div>");
             }  else {
              $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> Next </div>")
            }  
            // $("#change_question").html("<div class = 'btn btn-dark' id = 'next-btn'> Next </div>")
            $("#checkBtnDiv").html("")
            
          },
        error: function(request, status, error){
        }
      });
      wrongs = "{{question.topic}}"
      $.ajax({
            type: "POST",
            url: "/wrong_topics",
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(wrongs),
            success: function (response) {
              },
            error: function(request, status, error){
              console.log(request)
              console.log(status)
              console.log(error)
          }
        })
    }
    
    $(document).ready(function () {
       $("#checkBtn").prop("disabled", false);
        $(".dragOptions").each(function (index, element) {
            $(element).draggable({
              revert: "invalid",
              grid: [ 80, 80 ],
            });
        });
        $(".drop_a").each(function (index, element) {
          $(element).droppable({
            accept: '.dragOptions',
            drop: function(event, ui){
              ui.draggable.draggable({disabled:true});
              $(this).droppable("disable");
              let idName = $(ui.draggable).attr('id');
              answers.push(idName);
            }
          });
        });
        $("#checkBtn").click(checkAnswer);
        /*$("#next-btn").click(function(){
                id = parseInt(question.quiz_id);
                if(id < 3){
                    window.location.href = "/quiz1/" + id;
                }
                else
                {
                    window.location.href = "/";
                }
                id += 1;
            }); */
    })
    $(document).on('click','#next-btn', function(){
      id = parseInt(question.next_id);
      if(id < 4){
        window.location.href = "/quiz2/" + id;
      }
      else
      {
        window.location.href = "/results";
      }
    });

</script>

<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{question.progress[0]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{question.progress[0]}}%"></div>
    </div>

    <div id = "question_title"> Question {{question.quiz_id}}</div>

    <div class="col-md-12 text-center">
        <div id = "question_text">{{question.question}} </div>
    </div>

    <div class="row center">
        <div class="col-md-12 center">
            <img class="img_format" src={{question.image}}>
        </div>
    </div>
    <hr> 
    
    <div class = 'row text-center col-md-12'>
      <div class = 'col-md-3 drop_a' id = 'drop1' >Ingredient 1</div> 
      <div class = 'col-md-3 drop_a' id = 'drop2' >Ingredient 2</div> 
      <div class = 'col-md-3 drop_a' id = 'drop3' >Ingredient 3</div> 
      <div class = 'col-md-3 drop_a' id = 'drop4' >Ingredient 4</div>

    </div>

        <div class="row col-md-12 ">
          {% set count = namespace(value=0) %}
            {% for each in question.options_images %}
              {% set count.value = count.value + 1 %}
              <div class="col-md-3 dragOptions" id = "{{count.value}}">
                <div id = "item_title"> {{each[0]}} </div>
                  <img src={{each[1]}}  class="img_format3">
              </div>
            {% endfor %}
        </div>

      </div>
      <div class="row" id="feedback"></div>
      
      <div class="row">
          <div class = "col-md-11"></div>
        <div class="col-md-1" id = "checkBtnDiv">
          <button type="button" class="btn btn-primary" id="checkBtn" disabled>
            Submit
          </button>
        </div>
        <div class = "col-md-12" id = "change_question"></div>
    </div>

</div>
</div>
{% endblock %}
