{% extends "layout.html" %}

{% block content %}
<script src="/static/quiz.js"></script> 

<script> 
    let quiz_id = {{quiz_id|tojson}}
    let data = {{data|tojson}}
    let quiz_answers = {{quiz_answers|tojson}}
    let quiz_answer_id = {{quiz_answer_id|tojson}}
</script>

<div class="container">
    <div class="row">
        <button id="start-btn" type="submit"></button>
    </div>
    <h3>Problem:</h3>
    {{quiz_id.id}}
    <div class="row">
        <div class="col-md-4">
            <h2><b>{{quiz_id.question}}</b></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img_format" src={{quiz_id.image}}>
        </div>
    </div>
        <h6><b>Options</b></h6>
        {% for tags in quiz_id.options%}
        <li id="tagButton">{{tags}}</li>
        {% endfor %}
    </div>
    <div>
</div>
{% endblock %}