{% extends "layout.html" %}

{% block content %}
<script></script> 

<script> 
    let recipes = {{recipes|tojson}}
</script>

<div class="container">
    <div id= "tool-title"> All Recipes </div>
    <div class = "row" id ="tool-header"> 
        {% for r in recipes %}
                <div class = "col-md-2"> 
                    <a class="linkColor" href = "/lesson/recipes/{{r}}"> 
                        <div> {{recipes[r].name}} </div>
                        <div> <img id = "imgGlassL" src = "{{recipes[r].image}}"></div>
                    </a>
                </div>
        {% endfor %} 
    </div>
</div>
{% endblock %}