{% extends "layout.html" %}

{% block content %}
<script></script> 

<script> 
    let tools = {{tools|tojson}}
</script>

<div class="container">
    <div id= "tool-title"> All Tools </div>
    <div class = "row" id ="tool-header"> 
        {% for t in tools %}
                <div class = "col-md-2"> 
                    <a class = "linkColor" href = "/lesson/tools/{{t}}"> 
                        <div> {{tools[t].name}} </div>
                        <div> <img id = "imgGlassL" src = "{{tools[t].image}}"></div>
                    </a>
                </div>
        {% endfor %} 
    </div>
</div>
{% endblock %}