{% extends "layout.html" %}

{% block content %}

<script> 
    let tool = {{tool|tojson}}

    $(document).ready(function(){
        $("#previous-btn").click(function(){
            id = parseInt({{tool.id}});
            id -= 1;
            if(id > 0){
                window.location.href = "/lesson/tools/" + id;
            }
            else
            {
                window.location.href = "/lesson/tools/"
            }
        });
        $("#next-btn").click(function(){
            id = parseInt({{tool.id}});
            id += 1;
            if(id < 6){
                window.location.href = "/lesson/tools/" + id;
            }
            else
            {
                window.location.href = "/lesson/recipes";
            }
        });
    });
</script>

<div class="container">
    <div class = "text-center page-title"> 
        <h1> {{tool.name}} </h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6 tool-media-left">
            <img src = '{{tool.image}}' height='200px' alt='{{tool.name}} Pic'></img>
        </div>
        <div class="col-md-6 tool-media-right">
            <img src = '{{tool.video}}' height='200px' alt='{{tool.name}} Gif'></img>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="tool-description">
                {{tool.description}}
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div>
                <a class="btn btn-dark float-left" id="previous-btn">Previous</a>
            </div>
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-2">
            <div>
                <a class="btn btn-dark float-right" id="next-btn">Next</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}